<mat-sidenav-container class="container" >
  <mat-sidenav #sidebar mode='side' opened>
      <app-side-bar></app-side-bar>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content">
          <div class="toolbar">
              <mat-toolbar>
                  <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                  <div class="box">
                      <mat-icon>contact_phone</mat-icon>
                      <mat-icon>bookmark</mat-icon>
                      <mat-icon class="material-icons-two-tone" style="color:red">emergency_share</mat-icon>
                  </div>
              </mat-toolbar>
          </div>
          <div>
              <router-outlet></router-outlet>
          </div>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
